# Chapter 5

## General purpose commands

There are some useful commands that you can use:

In [1]:
#Gives the maximum value of the set:
max(1, 2, 3, 4, 5)

5

In [2]:
#Gives the minimum value of the set:
min(1, 2, 3, 4, 5)

1

In [7]:
#Makes the value positive:
abs(-1)

1

In [8]:
#Shows you the type of object:
type(-50.5)

In [14]:
#Gives you the lenght of the object:
len("This is a string.")

17

In [10]:
var1 = (2, 3, 1, 6, 3, 6, 3, 5)

In [11]:
min(var1)

1

In [12]:
max(var1)

6

In [13]:
len(var1)

8

In [16]:
type(var1)

tuple

Here we see that the type is a tuple. This basically just means that it's a collection of data. this will be returned to later on.

## Lists

Lists is made with the square brackets and can include any kind of object, including strings. Those types of objects can also be mixed with each other.

In [27]:
animals = ["dog", "cat", "bat"]

In [18]:
animals

['dog', 'cat', 'bat']

There are different commands that can be used for the dictionary. Calling out "animals" like above just tells you the list. Here are other commands:

In [19]:
#Calls the value at index position 2
animals[2]

'bat'

In [20]:
#Calls the first entry in the list (because zero-indexing)
animals[0]

'dog'

In [21]:
#Calls the last item on the list
animals[-1]

'bat'

In [28]:
#replaces "bat" with "rat" (because zero-indexing)
animals[2] = "rat"

animals

['dog', 'cat', 'rat']

In [29]:
#appends "ibex" to the end of the list.
animals.append("ibex")

animals

['dog', 'cat', 'rat', 'ibex']

In [31]:
#sorts the list alphabetically (or numerically if integer/float)
animals.sort()

animals

['cat', 'dog', 'ibex', 'rat']

In [32]:
 #tells you what index position an item is at
animals.index("cat")

0

In [33]:
 #inserts "llama" into index position 1. Everything after that gets knocked on 1 place
animals.insert(1, "llama")

animals

['cat', 'llama', 'dog', 'ibex', 'rat']

In [34]:
#removes the item at the denoted index and 'returns' it
animals.pop(3)

'ibex'

In [35]:
animals

['cat', 'llama', 'dog', 'rat']

In [36]:
#removes the item at the denoted index but doesn't return it
del(animals[3])

In [37]:
#removes the item if it finds it
animals.remove("dog")

In [38]:
#calls all the info at index positions from 0 to 1 (not including 1), in steps of 1. NOTE: if you don't set 
#the step (i.e. animals[0:1]) Python assumes you mean in steps of 1.
animals[0:1:1]

['cat']

In [39]:
#You can also have lists within lists:
mammals = ["dog", "cat", "bat"]
birds = ["parrot", "budgie", "eagle"]
reptiles = ["chameleon", "komodo dragon", "gecko"]
fish = ["sturgeon", "marlin", "shark"]
planet_earth =[mammals, birds, reptiles, fish]

In [40]:
planet_earth

[['dog', 'cat', 'bat'],
 ['parrot', 'budgie', 'eagle'],
 ['chameleon', 'komodo dragon', 'gecko'],
 ['sturgeon', 'marlin', 'shark']]

In [41]:
planet_earth[1]

['parrot', 'budgie', 'eagle']

In [42]:
planet_earth [3]

['sturgeon', 'marlin', 'shark']

Using two square brackets after each other finds the item on the list that is nested in the other list

In [43]:
planet_earth [1][1]

'budgie'

In [44]:
planet_earth [0][2]

'bat'

Each of the results can be stored - they're objects in and of themselves. So let's store an index position as a variable, then use that variable to do something with a list.

In [64]:
cat_index = animals.index("cat")

In [65]:
animals.insert(cat_index, "cobra")

In [68]:
animals

['cobra', 'cat', 'llama']

In [71]:
BuJo = ["pen", "journal", "fineliner"]

In [73]:
BuJo.append("stencil")

In [75]:
BuJo

['pen', 'journal', 'fineliner', 'stencil']

In [77]:
BuJo.insert(2, "brush pen")

In [78]:
BuJo.pop(4)

'stencil'

In [79]:
del(BuJo[0])

In [80]:
BuJo.remove("fineliner")

In [81]:
BuJo

['journal', 'brush pen']

#### Number lists

In [82]:
num_list = [387, 729, 730, 94, 727, 535, 367, 59, 446, 740, 588, 307, 225, 956,
            175, 961, 332, 731, 875, 362, 53, 738, 647, 258, 888, 421, 941,
            710, 955, 192, 935, 93, 335, 748, 987, 20, 937, 404, 191, 586, 847,
            906, 6, 504, 821, 218, 532, 688, 358, 568, 22, 245, 573, 689, 942,
            171, 15, 781, 353, 856, 17, 697, 879, 845, 877, 968, 279, 547, 935,
            331, 660, 725, 394, 617, 874, 648, 863, 53, 59, 494, 178, 650, 113,
            141, 215, 616, 811, 377, 745, 349, 898, 944, 286, 183, 307, 910,
            910, 348, 922, 111, 409, 549, 883, 633, 899, 414, 827, 446, 132,
            125, 371, 281, 496, 224, 828, 942, 350, 424, 9, 1000, 354, 932,
            130, 137, 43, 362, 392, 188, 514, 247, 142, 914, 899, 204, 83, 565,
            499, 422, 872, 346, 62, 317, 776, 619, 325, 789, 721, 530, 925,
            135, 637, 935, 185, 491, 880, 38, 235, 720, 566, 633, 609, 372,
            280, 223, 26, 956, 918, 5, 899, 775, 318, 391, 596, 783, 144, 370,
            699, 86, 856, 3, 660, 547, 887, 894, 824, 118, 941, 13, 22, 855,
            575, 570, 278, 631, 693, 530, 797, 468, 422, 517, 30, 264, 162,
            712, 627, 345, 23, 41, 195, 986, 200, 642, 708, 203, 817, 767,
            142, 892, 722, 852, 554, 112, 42, 171, 497, 211, 198, 677, 697,
            375, 477, 292, 449, 572, 96, 997, 778, 677, 200, 528, 944, 84,
            685, 564, 978, 826, 436, 919, 716, 866, 47, 115, 859, 613, 378,
            890, 939, 533, 709, 669, 777, 506, 197, 483, 716, 790, 736, 290,
            185, 766, 824, 446, 334, 990, 972, 676, 345, 553, 658, 360, 697,
            58, 651, 306, 980, 238, 107, 612, 173, 350, 38, 69, 611, 628,
            197, 678, 73, 950, 409, 234, 536, 575, 867, 727, 736, 157, 363,
            704, 606, 732, 904, 901, 600, 718, 949, 992, 28, 242, 39, 570,
            430, 673, 786, 764, 230, 821, 927, 997, 242, 103, 30, 349, 71,
            199, 369, 476, 534, 465, 382, 307, 414, 94, 654, 336, 977, 151,
            100, 815, 405, 164, 357, 5, 335, 183, 408, 549, 836, 184, 968,
            464, 889, 820, 65, 227, 149, 902, 480, 712, 996, 718, 198, 324,
            748, 180, 864, 697, 247, 887, 318, 952, 228, 593, 246, 707, 676,
            192, 931, 566, 274, 614, 658, 730, 255, 996, 112, 228, 858, 998,
            994, 196, 207, 426, 891, 180, 812, 743, 67, 360, 521, 876, 530,
            89, 899, 718, 941, 869, 485, 252, 194, 998, 929, 687, 648, 745,
            586, 534, 8, 759, 667, 867, 379, 172, 115, 576, 743, 270, 945,
            144, 184, 742, 923, 536, 205, 367, 502, 987, 297, 54, 426, 156,
            278, 574, 440, 391, 440, 734, 608, 839, 993, 140, 504, 405, 912,
            57, 15, 503, 69, 921, 925, 426, 813, 862, 355, 318, 731, 2, 609,
            848, 722, 35, 930, 646, 903, 7, 475, 889, 95, 285, 523, 823, 641,
            257, 372, 614, 729, 296, 237, 202, 764, 927, 385, 982, 49, 317,
            983, 483, 651, 471, 246, 340, 837, 701, 345, 413, 528, 163, 93,
            57, 466, 911, 131, 580, 30, 196, 667, 508, 423, 306, 163, 971,
            282, 915, 423, 156, 480, 464, 976, 748, 72, 641, 451, 486, 442,
            315, 407, 70, 907, 220, 906, 398, 753, 911, 490, 39, 172, 509,
            417, 450, 786, 68, 596, 422, 403, 175, 739, 306, 314, 253, 485,
            733, 782, 219, 65, 666, 468, 927, 666, 323, 271, 553, 911, 844,
            384, 792, 534, 288, 658, 941, 78, 404, 808, 535, 336, 26, 192,
            769, 606, 383, 6, 148, 340, 52, 169, 619, 836, 495, 333, 240,
            399, 881, 462, 543, 104, 623, 377, 651, 345, 33, 285, 692, 509,
            169, 315, 250, 72, 648, 326, 766, 776, 513, 43, 473, 464, 581,
            563, 492, 977, 944, 774, 309, 6, 784, 945, 583, 813, 993, 55,
            408, 45, 852, 100, 413, 156, 9, 832, 203, 513, 976, 231, 114,
            638, 825, 498, 837, 153, 203, 781, 549, 621, 759, 363, 48, 187,
            512, 472, 983, 993, 71, 215, 976, 395, 294, 188, 6, 930, 473,
            134, 329, 674, 293, 154, 758, 328, 587, 655, 387, 413, 354, 282,
            161, 704, 45, 280, 312, 456, 754, 942, 609, 398, 661, 456, 296,
            195, 24, 642, 364, 958, 462, 481, 102, 480, 443, 516, 631, 109,
            533, 254, 65, 249, 18, 479, 710, 129, 84, 345, 268, 177, 530,
            965, 107, 180, 934, 451, 725, 789, 341, 668, 262, 8, 183, 246,
            464, 734, 349, 271, 801, 550, 749, 822, 610, 649, 525, 557, 635,
            812, 969, 26, 812, 977, 314, 29, 989, 668, 651, 158]

In [83]:
#Number of things in this list:
len(num_list)

775

In [86]:
new_list = num_list[-1:-21:-1]

In [87]:
new_list.sort()

In [88]:
new_list

[26,
 29,
 158,
 314,
 525,
 550,
 557,
 610,
 635,
 649,
 651,
 668,
 749,
 801,
 812,
 812,
 822,
 969,
 977,
 989]

In [91]:
#Range of the first 50 items
max(num_list[0:50])-min(num_list[0:50])

981

In [92]:
#And if we inserted a number and did the same thing, the outcome would be different:
num_list.insert(30, 5000)

In [93]:
max(num_list[0:50])-min(num_list[0:50])

4994

* Break the first 25 numbers in num_list up into batches of 5, each stored in
  a list of its own.
* Then compile those 5 mini lists into a bigger one.
* Then, can you tell me what the third element of the fourth list is?

Remember that there is a 0-position. That means that the third element on the fourth list is actually position 3,2.

list1 = num_list[0:5]
list2 = num_list[5:10]
list3 = num_list[10:15]
list4 = num_list[15:20]
list5 = num_list[20:25]

In [104]:
list_of_lists = [list1, list2, list3, list4, list5]

In [110]:
list_of_lists [3][2]

731

In [108]:
list_of_lists

[[387, 729, 730, 94, 727],
 [535, 367, 59, 446, 740],
 [588, 307, 225, 956, 175],
 [961, 332, 731, 875, 362],
 [53, 738, 647, 258, 888]]

## Tuples

Tuples are basically just lists that can't be altered with mathods unlike lists.

In [111]:
my_tuple = (0, 10, 30)
my_tuple[1]

10

In [112]:
age = 32
location = "Manchester"
hairstyle = "bald"
energy_level = 0.1

Phil = (age, location, hairstyle, energy_level)

In [113]:
Phil

(32, 'Manchester', 'bald', 0.1)

You can always assign them to a variable: my_tuple_extract = my_tuple[1]. Then that variable can be altered and played with. Len() also works with tuples since it doesn't try to alter the data.

In [114]:
len(Phil)

4

## Dictionaries

Dictionaries are unordered sets of objects which means that they aren't ordered after numbered positions. The objects in a dictionary consists of a key (a label) and a value (bit of data). Keys and values are linked by colons and objects are seperated by comma. Dictionaries are made with curly brackets.

In [115]:
animal_dict = {"dog": "woof",
               "bird": "tweet",
               "cow": "moo",
               "pig": "oink",
               "turtle": "?"}

In [117]:
#Add new entry
animal_dict["fish"] = "glub"

animal_dict

{'dog': 'woof',
 'bird': 'tweet',
 'cow': 'moo',
 'pig': 'oink',
 'turtle': '?',
 'fish': 'glub'}

In [118]:
#Delete an entry
del animal_dict["fish"]

In [120]:
#Change an entry
animal_dict["bird"] = "squawk"

animal_dict

{'dog': 'woof', 'bird': 'squawk', 'cow': 'moo', 'pig': 'oink', 'turtle': '?'}

In [121]:
#Print value of key
print(animal_dict["dog"])

woof

In [122]:
#breaks up dict into items, prints them #METADATA
animal_dict.items()

dict_items([('dog', 'woof'), ('bird', 'squawk'), ('cow', 'moo'), ('pig', 'oink'), ('turtle', '?')])

In [123]:
#Print keys
animal_dict.keys()

dict_keys(['dog', 'bird', 'cow', 'pig', 'turtle'])

In [125]:
#Print values
animal_dict.values()

dict_values(['woof', 'squawk', 'moo', 'oink', '?'])

You can embed lists within dictionaries, dictionaries with dictionaries,
dictionaries within lists, tuples within dictionaries within lists within lists,
etc...complex data structures and hierarchies! Below, you can see an example of
how to put a dictionary within another dictionary, and how to pull information
out of it - this applies also to lists (except for lists, you will be using
numerical index positions rather than string keys).

In [126]:
dict1 = {"first thing": 1, "second thing": 2, "third thing": 3}
dict2 = {"dict_within_dict": dict1}

In [127]:
dict2["dict_within_dict"]["second thing"]

2

### Dictionary of you

EXERCISE:
(1) Write a dictionary (with your name as the variable name) that stores your
following attributes:
    * Date of birth
    * Place of birth
    * Favourite TV show
    * Favourite film

In [136]:
Stephanie = {"Date of birth": "October 14, 1997", "Place of birth": "Køge", "Favorite drama": "Dream High",
             "Favorite movie": "Harry Potter"}

In [129]:
Stephanie

{'Date of birth': 'October 14, 1997',
 'Place of birth': 'Køge',
 'Favorite drama': 'Dream High',
 'Favorite movie': 'Harry Potter'}

In [137]:
#(2) Add a key and value to your dictionary denoting your favourite band

Stephanie ["Favorite band"] = "Infinite"

Stephanie

{'Date of birth': 'October 14, 1997',
 'Place of birth': 'Køge',
 'Favorite drama': 'Dream High',
 'Favorite movie': 'Harry Potter',
 'Favorite band': 'Infinite'}

In [138]:
#(3) Delete the "Place of birth" field and replace it with one called "Current residence"

del Stephanie ["Place of birth"]

Stephanie["Current residence"] = "Hvidovre"

In [139]:
Stephanie

{'Date of birth': 'October 14, 1997',
 'Favorite drama': 'Dream High',
 'Favorite movie': 'Harry Potter',
 'Favorite band': 'Infinite',
 'Current residence': 'Hvidovre'}

In [140]:
#(4) Create an empty dictionary in a variable titled the name of your favourite
#album by your favourite band/artist.

Top_Seed = {}

In [154]:
#(5) Within this new dictionary, use dictionary methods to populate the
#dictionary with the following keys (and give them values):
    #Year of release
    #Number of tracks
#Do steps (4) and (5) for two or three albums by that band.

Top_Seed ["Year of release"] = 2018
Top_Seed ["Number of tracks"] = 12

Top_Seed

{'Year of release': 2018, 'Number of tracks': 12}

In [145]:
Reality = {}

In [146]:
Reality ["Year of release"] = 2015
Reality ["Number of tracks"] = 7

Reality

{'Year of release': 2015, 'Number of tracks': 7}

In [148]:
Another_Me = {}

In [150]:
Another_Me ["Year of release"] = 2012
Another_Me ["Number of tracks"] = 6

Another_Me

{'Year of release': 2012, 'Number of tracks': 6}

In [155]:
#(6) Add these albums to a new dictionary called "favourite albums".

Favorite_albums = {}
Favorite_albums ["Another Me"] = Another_Me
Favorite_albums ["Reality"] = Reality
Favorite_albums ["Top Seed"] = Top_Seed

Favorite_albums

{'Another Me': {'Year of release': 2012, 'Number of tracks': 6},
 'Reality': {'Year of release': 2015, 'Number of tracks': 7},
 'Top Seed': {'Year of release': 2018, 'Number of tracks': 12}}

In [156]:
#(7) Write "favourite_albums" into your original dictionary

Stephanie["Favorite Albums"] = Favorite_albums

Stephanie

{'Date of birth': 'October 14, 1997',
 'Favorite drama': 'Dream High',
 'Favorite movie': 'Harry Potter',
 'Favorite band': 'Infinite',
 'Current residence': 'Hvidovre',
 'Favorite Albums': {'Another Me': {'Year of release': 2012,
   'Number of tracks': 6},
  'Reality': {'Year of release': 2015, 'Number of tracks': 7},
  'Top Seed': {'Year of release': 2018, 'Number of tracks': 12}}}

In [157]:
#(8) See if you can call specific single bits of information in your big
#dictionary of dictionaries using keys - what is your favourite film? What's
#the year of release of one of your favourite albums?

Stephanie["Favorite movie"]

'Harry Potter'

In [159]:
Stephanie["Favorite Albums"]["Reality"]["Number of tracks"]

7

In [160]:
#(9) See if you can print out the keys and values of your big dictionary.
Stephanie.keys()

dict_keys(['Date of birth', 'Favorite drama', 'Favorite movie', 'Favorite band', 'Current residence', 'Favorite Albums'])

In [161]:
Stephanie.values()

dict_values(['October 14, 1997', 'Dream High', 'Harry Potter', 'Infinite', 'Hvidovre', {'Another Me': {'Year of release': 2012, 'Number of tracks': 6}, 'Reality': {'Year of release': 2015, 'Number of tracks': 7}, 'Top Seed': {'Year of release': 2018, 'Number of tracks': 12}}])

In [162]:
print(Stephanie)

{'Date of birth': 'October 14, 1997', 'Favorite drama': 'Dream High', 'Favorite movie': 'Harry Potter', 'Favorite band': 'Infinite', 'Current residence': 'Hvidovre', 'Favorite Albums': {'Another Me': {'Year of release': 2012, 'Number of tracks': 6}, 'Reality': {'Year of release': 2015, 'Number of tracks': 7}, 'Top Seed': {'Year of release': 2018, 'Number of tracks': 12}}}

## Strings and String Methods

In [163]:
new_string = "this IS a SliGhtly more ComplicaTed strINg"

In [164]:
#Calls the letter at index position one (i.e. the second letter)
new_string[1]

'h'

In [165]:
#First four characters
new_string[0:4]

'this'

In [166]:
#Everything including the 5th character
new_string[5:]

'IS a SliGhtly more ComplicaTed strINg'

In [167]:
#calls all characters in steps of 2 (i.e. every other character)
new_string[::2]

'ti SaSihl oeCmlcTdsrN'

In [169]:
#calls the last ten letters in steps of -1 (i.e. reverse)
new_string[-1:-10:-1]

'gNIrts de'

In [170]:
len(new_string)

42

In [172]:
string1 = "First Bit."
space = " "
string2 = "Second Bit."
print(string1 + space + string2)

First Bit. Second Bit.

In [173]:
#Lower case
string1.lower()

'first bit.'

In [174]:
#Upper case
string1.upper()

'FIRST BIT.'

In [175]:
#takes each item, puts it in a list as an individual item.
string1.split()

['First', 'Bit.']

In [179]:
#You can also put strings together via methods other than concatenation:
#the %s denotes a placeholder for a string. This is more useful than it looks.

string4 = "is cool."
string5 = "Programming %s" %string4

In [180]:
string5

'Programming is cool.'

There are other placeholders that can be used:
* %s string
* %i or %d integer
* %f float

In [181]:
print("Hi, my name is %s and I'm %d years old." %("Phil", 32))

Hi, my name is Phil and I'm 32 years old.

Slicing when it comes to strings works with the command string[0:10:2].

0 is the starting point of the slicing, alas the index position. So in this case, the slicing starts at the very beginning of the word. 

10 means the place we want to stop. So this slicing will include position 9, but not 10. There will be 10 characters in the slicing because of zero indexing. 

2 sets the steps. In this case, 2, it means that it'll take every other character. Therefore, 5 characters will be shown.

In [182]:
#In the shell, can you get Python to produce a print of new_string that is
#properly punctuated (i.e. capitals in the right place, full stop at the end)?

#Can you then print it out backwards?

In [183]:
uppercase_bit = new_string[0].upper()

In [184]:
uppercase_bit

'T'

In [185]:
lowercase_bit = new_string[1:].lower()

In [186]:
lowercase_bit

'his is a slightly more complicated string'

In [187]:
print(uppercase_bit + lowercase_bit + ".")

This is a slightly more complicated string.

In [189]:
#Or
print(new_string[0].upper() + new_string[1:].lower() + ".")

This is a slightly more complicated string.

In [192]:
clean_string = uppercase_bit + lowercase_bit + "."
clean_string[-1::-1]

'.gnirts detacilpmoc erom ylthgils a si sihT'